* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f7f1e3;
}

.contact-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 16px;
}

.contact-list__item {
  outline: 1px dashed red;
  position: relative;
  text-decoration: none;
  color: #333;
  width: 84px;
  height: 84px;
}

.item {
  width: 100%;
  text-align: center;
}

.item .fa-icon {
  font-size: 84px;
}

.item--front {
  position: absolute;
  transition: transform .3s ease-in-out;
  transform-origin: center center 42px;
  transform: rotateX(0deg);
  color: green;
}

.contact-list__item:hover .item--front {
  transform: rotateX(-90deg);
}

.item--bottom {
  position: absolute;
  transition: transform .3s ease-in-out;
  transform-origin: center center 42px;
  transform: rotateX(90deg);
  color: red;
}

.contact-list__item:hover .item--bottom {
  transform: rotateX(0deg);
}
