* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-image: url('img/pattern.png');
}

.container {
  width: 940px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

.label {
  color: #fff;
  font-size: 5rem;
  cursor: default;
  text-shadow: 10px 10px #000;
}

.description {
  color: #bbb;
  cursor: default;
  text-shadow: 5px 5px #000;
}

.links {
  margin-top: 50px;
}

.links .link {
  color: #aaa;
  transition: color .2s;
  font-size: 3rem;
  margin: 0 10px;
  text-shadow: 10px 10px #000;
}

.links .link:hover {
  color: #eee;
}
